[Unit]
Description=PCC Aggregator Service
After=network.target

[Service]
User=root
WorkingDirectory=/home/gspringle/Documents/GitHub/usbsql_py/
ExecStart=/home/gspringle/Documents/GitHub/usbsql_py/.venv/bin/pcc-aggregator
Restart=always

[Install]
WantedBy=multi-user.target
